[Unit]
Description=BusyBox httpd Server

[Service]
ExecStart=/usr/bin/WebServer.sh

[Install]
WantedBy=multi-user.target

# sudo systemctl daemon-reload
# sudo systemctl enable shellscript.service 
# sudo systemctl start shellscript.service 